@font-face {
    font-family: 'Pepsi';
    src: url('../Sources/PEPSI_pl.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

html
{
    font: normal 27px Pepsi;
    color: #ffffff;
    background-color: #ffffff;
    padding: 0px;
    letter-spacing: 3px;
}

body
{
    padding: 0px;
    margin: 0px;
}

#navprincipaldiv
{
    position: fixed;
    color: #ffffff;
    background-color: #000000;
    margin-top: 0px;
    width: 100%;
}

#navprincipal
{
    padding-left: 0%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    height: 90px;
    align-items: center;
    margin-bottom: 0%;
}

#navprincipal a
{
    text-decoration: none;
    color: #ffffff;
}

#navprincipal li
{
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
}

#contacto
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 900px;
    width: 100%;
    background-image: url("../Sources/background_2.jpg");
}

#formulario
{
    padding-left: 10%;
}

.form
{
    width: 800px;
    background: #0065c3;
    padding: 30px;
    margin: auto;
    border-radius: 5px;
    border: 2px solid #000000;
    box-shadow: 7px 13px 37px #000000;
}

.form h1
{
    text-align: center;
    margin-bottom: 40px;
}

.controls
{
    width: 778px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 2px solid #000000;
    font-family: sans-serif;
}

.form p
{
    height: 40px;
    text-align: center;
    letter-spacing: 0px;
    font: bold 17px sans-serif;
    line-height: 40px;
}

.form a
{
    color: #ffffff;
    text-decoration: none;
}

.form a:hover
{
    color: #ffffff;
    text-decoration: underline;
}

.buttons
{
    width: 100%;
    padding: 12px;
    background: #004a97;
    border-radius: 5px;
    border: 2px solid #000000;
    color: #ffffff;
}

#lataC
{
    padding-top: 30px;
    padding-right: 10%;
}

#footer
{
    border-top: 50px solid #004a97;
    font: bold 17px sans-serif;
    letter-spacing: 0px;
    background-color: #0065c3;
    padding: 2.5%;
    display: flex;
    height: 100px;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

#footer_logo
{
    display: block;
}

#mid_items
{
    display: block;
    column-count: 2;
    column-gap: 3rem;
    list-style: none;
    text-align: center;
}

#mid_items ul
{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#mid_items a
{
    color: #ffffff;
    text-decoration: none;
}

#mid_items a:hover
{
    color: #ffffff;
    text-decoration: underline;
}

#social_network
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#social_network a
{
    padding-left: 10px;
    padding-right: 10px;
}